
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    background-color: rgba(255, 205, 204);
    background-image: radial-gradient(rgba(245, 0, 4) 0.1px, transparent 1px);
    background-size: 5px 5px;
  }
  .hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100vh;
    flex-direction: column;
  
    background-color: rgba(255, 205, 204);
    background-image: radial-gradient(rgba(245, 0, 4) 0.1px, transparent 1px);
    background-size: 5px 5px;
  }
  .hero2 p {
    text-decoration: none;
    color: rgba(245, 0, 4);
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    font-size: 40px;
  }
  
  .logo-manos {
    width: 100%;
    max-width: 500px;
  }
  

  .tienda img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .imagen-con-texto {
    position: relative;
    display: inline-block;
  }
  
  .imagen-con-texto img {
    display: flex;
    width: 100vw; /* o el tamaño que quieras */
    height: 100vh;
  }
  
  .texto-superpuesto {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: white;
    text-align: right;
    font-family: "Neuton", serif;
    font-size: 30px;
  }
  
  .loguito-manos {
    text-align: center;
    padding: 30px 0;
    background-color: rgba(255, 205, 204);
  }
  
  .loguito-manos img {
    width: 150px;
    margin-top: 10px;
  }
  


  .menu {
    text-align: center;
    padding: 50px 20px;
  }
  
  .menu h2 {
    font-size: 36px;
    font-weight: bold;
    color: rgba(245, 0, 4);
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    justify-items: center;
  }
  
  .menu-item {
    width: 100%;
    border: 2px solid rgba(245, 0, 4);
    padding: 10px;
    background-color: rgba(255, 205, 204);
    transition: transform 0.3s;
  }
  
  .menu-item:hover {
    transform: scale(1.05);
  }
  
  .menu-item img {
    max-height: 180px;
    height: auto;
    margin: 0;
  }
  
  .menu-item p {
    margin-top:10px;
    color:rgba(245, 0, 4);
    font-size: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
  }
  
  
  .menu-item a{
    text-decoration: none;
    color: rgba(245, 0, 4);
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    font-size: 18px;
  }
  
  
  .menu-item a:hover {
    text-decoration: none;
  }
  


  
  .slider-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  
  button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background:transparent;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 10;
  }
  
  button.prev {
    left: 0;
  }
  
  button.next {
    right: 0;
  }
  





  
  .newsletter-section {
    background-color: rgba(255, 205, 204);
    padding: 80px 20px;
    text-align: center;
  }
  
  .newsletter-container {
    border: 2px solid rgba(245, 0, 4);
    display: inline-block;
    padding: 40px 20px;
    max-width: 600px;
    background-color: rgba(255, 205, 204);
  }
  
  .newsletter-container h2 {
    font-family: "Roboto Slab", serif;
    color:rgba(245, 0, 4);
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .newsletter-container p {
    font-family: "Roboto Slab", serif;
    color: rgba(245, 0, 4);
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .newsletter-form {
    display: flex;
    border: 1px solidrgba(245, 0, 4);
    overflow: hidden;
  }
  
  .newsletter-form input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color:rgba(245, 0, 4);
  }
  
  .newsletter-form input::placeholder {
    color: rgba(245, 0, 4);
    opacity: 1;
  }
  
  .newsletter-form button {
    background-color:rgba(245, 0, 4);
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .newsletter-form button:hover {
    background-color: rgba(245, 0, 4);
  }
  